.main-nav{
  border-bottom: 2px solid black;
  padding: 25px 0;
}

.nav-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.logo a{
  text-decoration: none;
  color: dimgray;
  font-size: 15px;
  text-transform: uppercase;
}

.main-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.theme{
  border: 1px solid black;
  border-radius: 50%;
  padding: 9px;
  background-image: linear-gradient(90deg, rgba(10,10,10,1) 49%, rgba(247,248,249,1) 49%);
}

