<div class="main-nav">
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="logo"><a href="/">Weather</a></li>
        <li class="theme"><p>Theme</p></li>
      </ul>
    </nav>
  </div>
</div>

<div class="container main-block">

  <div class="info-block">
    <div class="display-block">
      <h3>Welcome text</h3>
      <p>Text</p>
    </div>
  </div>

  <div class="search-block">
    <div class="card-block">
      <h4>Header</h4>
      <form action="">
        <label for="searchCountry">Search country</label>
        <input type="text" name="searchCountry" id="searchCountry"/>
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
