form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-block{
  margin: 0 auto;
}

.card-block input{
  border: none;
  border-radius: 5px;
  width: 220px;
  max-width: 550px;
  margin: 10px auto;
  padding: 1em;
  color: black;
  background: rgb(100,100,100) radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
  box-shadow:
    inset rgba(0,0,0,.5) -3px -3px 8px,
    inset rgba(255,255,255,.9) 3px 3px 8px,
    rgba(0,0,0,.8) 3px 3px 8px -3px;

}

.btnSearch{
  border: 0;
  cursor: pointer;
  margin-left: 5px;
  font-size: 20px;
  color: #4D4D4D;
}
