/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: black;
  background: linear-gradient(#EDB17F, #D7716F);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vH;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
